.footer {
    padding: 32px 0;
    background: $black;

    .links {
        display: flex;
        align-items: center;
        color: $white;

        & > * {
            margin-left: 16px;
        }
    }
}