$icon-size: 52px;

.languages {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 100%;
        background: #2d1313;
        transform: translate(-50%, -50%) rotate(-4deg);
    }

    .container-narrow {
        position: relative;
        z-index: 1;
        color: $white;
    }

    .last {
        .language-wrapper {
            margin-bottom: 12px;
        }
    }

    .language-wrapper {
        display: flex;
        margin-bottom: 64px;
    }

    .flag {
        flex: 0 0 $icon-size;
        width: $icon-size;
        height: $icon-size;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: $box-shadow;

        img {
            display: block;
        }
    }

    .language-details {
        padding-left: 16px;
        flex: 1 1 auto;
    }

    .name {
       @extend %name;
       font-weight: bold;
    }

    .level {
        @extend %name-addon;
    }
}