.services {
    .service-inner {
        padding: 0 $gutter;
        @media screen and (max-width: $tabletMax) {
            margin-bottom: 56px;
        }
    }

    @media screen and (max-width: $tabletMax) {
        .col-sm-4:last-of-type {
            .service-inner {
                margin-bottom: 0;
            }
        }
    }

    .service-image-wrapper {
        @extend %image-circle-small;
        margin: 0 auto;
    }

    .service-description {
        text-align: center;
        padding: 0 16px;
        @media screen and (max-width: $tabletMax) {
            padding: 0;
            margin: 0;
        }
    }

    @media screen and (max-width: $tabletMax) {
       h3 {
           margin-top: 16px;
       }
    }
}