$bg-color: rgba(0,0,0, .8);;

.cookie-policy {
    position: fixed;
    background: $bg-color;
    color: $white;
    z-index: 3; 

    &.hidden {
        display: none;
    }

    @media screen and (max-width: $tabletMax) {
        left: 0;
        bottom: 0;

        .inner {
            display: flex;
        }

        .btn-coookie-wrapper {
            display: flex;
            align-items: center;
            margin-left: 12px;
        }
    }

    @media screen and (min-width: $tabletMin) {
        right: 16px;
        top: 45vh;
        width: 240px;

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            right: -18px;
            left: auto;
            top: 50%;
            transform: translateY(-50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 8px solid $bg-color;
        }

        .inner {
            text-align: center;
        }

        .btn-coookie-wrapper {
            margin-top: 24px;
        }
    }

    .btn-coookie {
        @extend %button-base;
        padding: 8px 10px;
        color: $white;
        border: 1px solid $white;
        background-color: transparent;
    }

    .inner {
        padding: 16px;
        p {
            margin: 0;
        }
    }
}