@font-face {
    font-family: 'Vollkorn';
    src: url('assets/fonts/Vollkorn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo Light';
    src: url('assets/fonts/Exo-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo Regular';
    src: url('assets/fonts/Exo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo Bold';
    src: url('assets/fonts/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}