input[type="email"],
input[type="text"] {
    padding: 14px 18px;
    border: 1px solid $tint-1;
    border-radius: 4px;
    font-size: 16px;
    min-width: 260px;
    outline: none;
    transition: all .2s;
}

.input-wrapper {
    position: relative;

    label {
        position: absolute;
        background: $white;
        top: 16px;
        left: 10px;
        font-size: 16px;
        padding: 0 8px;
        transition: all .2s;
        color: $tint-1;
    }

    input:focus {
        border-color: $main-color;
        & + label {
            font-size: 13px;
            transform: translateY(-22px);
            color: $main-color;
            transition: all .2s;
        }
    }
}