$border: 1px solid $tint-1;
$border-radius: 4px;

form {
    input[type="email"],
    input[type="text"],
    textarea {
        padding: 14px 18px;
        border: $border;
        border-radius: $border-radius;
        font-size: 16px;
        outline: none;
        transition: all .2s;
    }

    input[type="email"],
    input[type="text"] {
        width: 60%;
        @media screen and (max-width: $tabletMax) {
            width: 100%;
        }
    }

    textarea {
        width: 100%;
        height: 300px;
        resize: none;
    }

    .checkbox {
        position: relative;
        margin: 16px 0;

        label {
            position: relative;
            color: $tint-1;
            cursor: pointer;
            padding-left: 32px;
            z-index: 1;
            user-select: none;
        }

        input:checked + span::before {
            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            right: 2px;
            bottom: 2px;
            background: url(../../../assets/images/check.svg);
            background-size: cover;
            background-position: center;
        }
    }

    .checkbox-custom {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: -3px;
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        border: $border;
        border-radius: $border-radius;
        margin-right: 8px;
    }

    .input-wrapper {
        position: relative;

        & + .input-wrapper {
            margin-top: 24px;
        }

        label {
            position: absolute;
            background: $white;
            top: 16px;
            left: 10px;
            font-size: 16px;
            padding: 0 8px;
            transition: all .2s;
            color: $tint-1;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                top: 50%;
                background: $white;
            }

            span {
                position: relative;
                z-index: 2;
            }
        }

        textarea,
        input {
            &:focus {
                border-color: $main-color;
                & + label {
                    color: $main-color;
                    background: $main-color-light;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        top: 50%;
                        background: $white;
                    }
                }
            }

            &.input-field + label,
            &:focus + label {
                font-size: 13px;
                transform: translateY(-22px);
                transition: all .2s;
            }

            &.input-field + label {
                background: $main-color-light;
            }
        }
    }

    input[type="submit"] {
        margin-top: 24px;
    }
}