html {
	font: normal $fontSize $text-font;
	color: $grey-color;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

section {
  padding-bottom: 100px;

  h2 {
    margin-top: 0;
  }
}

img, svg { max-width: 100%; }
