html {
	font: normal $fontSize $text-font;
	color: $grey-color;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img, svg { max-width: 100%; }
