html {
	font: normal $fontSize $text-font;
  color: $grey-color;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 80px 0;

  h2 {
    margin: 0 0 36px;
    text-transform: uppercase;
  }

  &.section-creamy {
    &::before {
      background: $creamy;
    }
  }

  &.section-dark {
    color: $white;
    &::before {
      background: #2d1313;
    }
  }

  &.section-creamy,
  &.section-dark {
    .container,
    .container-narrow {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: 100%;
      transform: translate(-50%, -50%) rotate(-4deg);
    }
  }
}

img, svg { max-width: 100%; }

.content-wrapper {
  overflow: hidden;
}
