/* fonts */
$font: 'Dosis', Helvetica, Arial, sans-serif;
$text-font: 'Exo Regular', Helvetica, Arial, sans-serif;
$font-light: 'Exo Light', Helvetica, Arial, sans-serif;
$font-bold: 'Exo Bold', Helvetica, Arial, sans-serif;

$fontSizeSmall: 13px;
$fontSize: 16px;
$lineHeight: 20/14;

/* Gutter */
$gutter: 16px;
$gutterBig: 32px;

/* Breakpoints */
$widepMin: 1260px;
$widepMax: 1259px;
$desktopMin: 1024px;
$desktopMax: 1023px;
$tabletMin: 768px;
$tabletMax: 767px;
$mobileMin: 576px;
$mobileMax: 575px;

$box-shadow: 0 1px 4px 0 #04362315, 0 1px 2px 0 #04362315;
$border-radius: 4px;

%image-circle {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: $box-shadow;
}

%image-circle-big {
    width: 260px;
    height: 260px;
    @extend %image-circle;
}

%image-circle-small {
    width: 200px;
    height: 200px;
    @extend %image-circle;
}