/* fonts */
$font: 'Vollkorn', Helvetica, Arial, sans-serif;
$text-font: 'Exo', Helvetica, Arial, sans-serif;

$fontSizeSmall: 13px;
$fontSize: 16px;
$lineHeight: 20/14;

/* Gutter */
$gutter: 16px;
$gutterBig: 32px;

/* Breakpoints */
$widepMin: 1260px;
$widepMax: 1259px;
$desktopMin: 1024px;
$desktopMax: 1023px;
$tabletMin: 768px;
$tabletMax: 767px;
$mobileMin: 576px;
$mobileMax: 575px;